@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: #fff;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 16px;
}

h1,
h2,

body {
  overflow-x: hidden;
  font-family: 'Nunito Sans', sans-serif;


}

* {
  transition: all .4s;
  box-sizing: border-box;

}


p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
}

a,
input,
select,
textarea {
  margin: 0;
  outline: medium none;
  padding: 0;
}

html {}

img,
fieldset {
  border: 0 none;
}

a {
  border: medium none;
  outline: medium none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

img {
  image-rendering: -webkit-optimize-contrast;
}



/* Header css */

header.header_section {
  position: absolute;
  display: block;
  width: 100%;
  float: left;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  background: transparent;
  padding: 20px 0;
  background: #0f254e;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.call-text-cls h4 a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.call-text-cls h4 a .p_color {
  color: #d2bb7f;
}

.header_logo a {
  display: flex;
}

a.dropbtn:hover {
  background-color: transparent !important;
}

.mid_menu_header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row.call-text-flex {
  display: flex;
  justify-content: flex-end;
}

.mid_menu_header {
  position: relative;
  padding: 1px 0;
}

.header_logo img {
  width: 180px;
  height: auto;
}

.menus {
  display: flex;
  flex-direction: column;
}

.top-brs .top-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 2px solid #f9f9f9;
  padding-bottom: 15px;
}

.header_navigation {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
  padding: 0;
}

.sidenavs {
  height: 100%;
  width: auto;
  position: relative;
  z-index: 1;
  top: 0;
  right: 0;
  background: transparent;
  transition: 0.5s;
  display: flex;
  align-items: center;
}

.sidenavs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  display: none;
}

.menu_navigation,
.menu-btns {
  display: flex;
  align-items: center;
}

.sidenavs a {
  font-size: 25px;
  text-decoration: none;
  color: #fff;
  line-height: 25px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 0 10px 8px;
  transition: all .3s;
  border: 1px solid transparent;
}

li.lst-btn a:last-child {
  margin-right: 0;
}

ul.menu_navigation li {
  margin: 0 20px;
}

ul.menu_navigation li:last-child {
  margin: 0;
}

li.lst-btn a {
  border: 1px solid #17a3df !important;
  background: #17a3df;
  padding: 10px 20px;
  color: #fff;
  border-radius: 26px;
  box-shadow: 1px 0px 9px #00000047;
}

li.lst-btn a:hover {
  background: transparent;
  color: #17a3df;
}

span.toggle_menu {
  display: none;
}

.top-menu img {
  width: 20px;
  margin-right: 10px;
}

ul.top-menu a {
  font-size: 16px;
  line-height: 14px;
  color: #000000;
  font-weight: 400;
  margin-right: 40px;
}

.for-mob {
  display: none;
}


.call-text-cls h4 {
  font-family: 'Georgia';
  font-weight: 900;
}

.ftr-links li {
  display: inline-block;
  margin-right: 40px;
}

.ftr-links li a {
  color: #ffffff9c;
}

.ftr-links {
  padding: 20px 0;
  border-top: 1px solid #ffffff47;
  margin-top: 45px;
}


.ftr-links li a:hover {
  color: #fff;
}

.rqst-btn a {
  background: linear-gradient(90deg, rgba(50, 176, 75, 1) 0%, rgba(25, 164, 214, 1) 100%);
  padding: 15px 28px;
  color: #fff;
  border-radius: 46px;
  box-shadow: 1px 0px 9px #00000047;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.rqst-btn a:hover {
  background: linear-gradient(90deg, rgba(25, 164, 214, 1) 0%, rgba(50, 176, 75, 1) 100%);
}

.scrl-icons a:hover {
  background: linear-gradient(90deg, rgba(25, 164, 214, 1) 0%, rgba(50, 176, 75, 1) 100%);
  border-color: #2fae5c;
}

.rqst-btn {
  text-align: right;
}

.scrl-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 22px;
  margin-left: 15px;
}

.scrl-icons {
  text-align: right;
  margin-top: 20px;
}

.rqst-mm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.main-addrs p {
  margin-bottom: 0;
}

.menu_navigation {
  margin-left: 30px;
  margin: 0px;
}

/* dropdown */

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 250px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header {
  margin: 0;
  padding: 0;
}

.header_logo a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rubik Vinyl', cursive;
}

/* sport banner css */
.main-banner-image img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.main-banner-image {
  position: relative;
}

.main-banner-image:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0f254e;
  opacity: 0.5;
}

.banner-text p {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  width: 50%;
  margin: 0px auto;
}

.banner-text h1 {
  color: #fff;
  font-weight: 700;
  font-size: 45px;
}

.banner-text {
  position: absolute;
  top: 0px;
  text-align: center;
  transform: translate(10px, 20pc);
  width: 100%;
}
.pro_inner_btn a:hover{
  border: 1px solid #ffffff;
  color: #fff;
  background: transparent;
}
/* newest-heading  css */
.arival-image img {
  border-radius: 10px;
  width: 100%;
  background: #fff;
  padding: 20px;
}

.newest-heading h1 {
  color: #0f254e;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  overflow: inherit !important;
}

.newest-text-area {
  width: 100%;
}

.newest-text-area p {
  color: #0f254e !important;
  text-align: center;
  font-size: 19px;
  width: 50%;
  font-weight: 700;
  margin: 0px auto;
  padding-bottom: 10px;
}

.newest-heading p {
  color: #0f254e !important;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin: 0px auto;
  width: 38%;
}

.main-arrival-area {
  margin-top: 40px !important;
}

.arival-text-section h4 {
  color: #fff;
  margin-top: 22px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.popular-text-last {
  text-align: center;
}

.popular-text-last p {
  color: #fff !important;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 24px;
}

.popular-text-last .see_more {
  width: 110px;
  height: 40px;
  border: none;
  background: #fff;
  border-radius: 8px;
  color: #0f254e;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  font-weight: 800;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.popular-text-last .see_more:hover {
  border: 1px solid #ffffff;
  color: #fff;
  background: transparent;
}

.img-tex-arrival {
  background: #0f254e;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}

.arival-image {
  text-align: center;
}

.popular-text-last {
  text-align: center;
}


/* seller product start */
.Seller-heading h1 {
  color: #0f254e;
  text-align: center;
  margin-top: 80px;
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  overflow: inherit !important;
}

.Seller-heading p {
  color: #0f254e !important;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin: 0px auto;
  width: 38%;
}

.newest-heading {
  padding-top: 80px;
}

/* seller product close*/

/* sport page */
.sport-heading h1 {
  font-size: 50px !important;
}

.newest-headingS h1 {
  color: #0f254e;
  text-align: center;
  margin-top: 67px;
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  overflow: inherit !important;
}
img.best-seller {
  height: 500px;
}
.newest-headingS p {
  color: #0f254e !important;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin: 0px auto;
  width: 38%;
}
img.game-img {
  height: 500px;
}
.game-text {
  top: -6pc;
}
img.sport-img {
  height: 500px;
}
.sport-heading {
  top: -6pc;
}
img.sport-img {
  height: 500px;
}
/* Privay Policy Page */
.Privacy-banner {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -3pc;
  line-height: 25px;
}
img.privacy-img {
  height: 500px;
}
.text-area-pra p {
  color: #0f254e !important;
  font-size: 17px;
  font-weight: 600;
  TEXT-ALIGN: left;
}

.text-area-pra {
  margin-top: 80px !important;
}

.text-area-pra h5 {
  color: #0f254e;
  margin-top: 24px;
  font-weight: 700;
  font-size: 25px;
  width: 100%;
}

.text-area-pra ul {
  padding-left: 24px;
}

.text-area-pra ul li {
  font-size: 18px;
  color: #0f254e !important;
  font-weight: 600;
  margin: 0px auto;
}

.main-newest-arrivals h1 {
  color: #0f254e;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  overflow: inherit !important;
}

.main-newest-arrivals {
  margin-top: 60px;
}

/*  terms css*/
.term-banner {
  position: absolute;
  top: -3pc;
  text-align: center;
  width: 100%;
}

/* shopping-css */
.shipping-banner {
  position: absolute;
  top: -3pc;
  text-align: center;
  width: 100%;
}
img.shipping-img {
  height: 500px;
}
.best-selling {
  position: absolute;
  text-align: center;
  width: 100%;
  top: -3pc;
}

p.card-text {
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 6px;
  width: 100%;
}
img.contact-img {
  height: 500px;
}
.contact-text {
  top: -6pc;
}
img.term-img {
  height: 500px;
}
/* contact us css */
.text-area p {
  color: #0f254e !important;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}
.main-conatct-text-form {
  margin-top: 80px !important;
}
.message-box textarea {
  width: 100%;
  height: 60px;
}
.last-footer-line p {
  font-size: 18px;
  padding-top: 15px;
  text-align: center;
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
}

p a {
  text-decoration: underline;
  color: #9e0c39;
}

form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.input-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.input-control:focus {
  outline: 2px solid var(--primary-color);
  border: none;
}

.form-group label {
  display: inline-block;
  padding-bottom: 5px;
  color: #fff;
  transition: all 0.2s linear;
}

.popular-text-last .see_more:hover {
    border: 1px solid #ffffff;
    color: #fff;
    background: transparent;
}


textarea.input-control {
  width: 100%;
  height: auto;
  resize: none;
}

.form-group {
  margin-bottom: 20px;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  color: #0f254e;
  text-transform: uppercase;
  transition: all 0.2s linear;
  margin: 30px auto 0;
  max-width: 210px;
  border: 2px solid #fff;
  font-weight: 800;
  font-size: 20px;
  position: relative;
  border-radius: 5px;
}

ul.form-list {
  padding: 0px 20px;
  margin-top: 32px;
}

ul.form-list li {
  padding-bottom: 17px;
  color: #0f254e !important;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
}

.submit-btn:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.col-md-6.main-form-class {
  background: #0f254e;
  padding: 40px;
  border-radius: 10px;
}



/* GAllery Page */
.gallery-section .list-group {
  border-radius: 0px;
}

.gallery-section .Seller-heading h1 {
  margin-top: 10px;
}

.gallery-section .list-group-item {

  border: 1px solid #0f254e;
  background: #fff;
  border-radius: 8px;
  color: #0f254e;
  font-size: 16px;
  line-height: 31px;
  /* margin-top: -10px; */
  text-align: center;
  font-weight: 800;
  text-transform: capitalize;
  font-family: var(--font-Montserrat);
  padding: 0.5rem 1.5rem;
  margin-right: 10px;
  cursor: pointer;
}

.gallery-section .list-group-item:hover {
  background-color: #0f254e;
  color: #fff;
}

.gallery-section .list-group-item.active {
  background-color: #0f254e;
  color: #fff;
}

.gallery-section .gallery-area {
  display: none;
}

.gallery-section .gallery-area .gallery-img {
  height: 300px;
  margin-bottom: 20px;
}

.gallery-section .gallery-area .gallery-img img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.gallery-section .gallery-area .youtube-video {
  width: 100%;
  height: 300px;
  overflow: hidden;


}

.gallery-section .gallery-area .youtube-video iframe {
  height: 100%;
  width: 100%;
}

/*----------------Footer_start---------------*/
.privacy p:hover {
  border-bottom: 1px solid #0f254e;
}

span {
  text-decoration: none;
  font-size: 18px;
  color: #0f254e;
  line-height: 30px;
  font-weight: 700;
}

.last-footer-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.privacy {
  display: flex;
  width: 490px;
  padding-bottom: 14px;
  justify-content: inherit;
}

footer.footer {
  padding-bottom: 0px;
}

.footer-location.footer-phn a:hover {
  border-bottom: 1px solid #fff;
}

.footer-main-title {
  background: #fff;
}

.privacy p {
  text-decoration: none;
  font-size: 18px;
  color: #0f254e;
  line-height: 30px;
  font-weight: 700;
}

.footer-location.footer-phn ul li {
  list-style: none;
}

.footer-location.footer-phn ul {
  padding: 0px !important;
}

.footer-logo a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Rubik Vinyl', cursive;
}

.footer {
  margin-top: 200px;
  background-color: #0f254e;
  padding: 50px 0 20px 0;
}

.footer-logo img {
  width: 100%;
  max-width: 210px;
}

.footer-location h4 {
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: 900;
}

.footer-location a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  line-height: 30px;
  font-weight: 500;
}

.footer-email a {
  font-size: 20px;
  color: #fff;
  line-height: 30px;
  font-weight: 500;
}

footer.footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-location.footer-phn a {
  font-size: 15px;
  color: #fff;
}

.footer-copy a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  line-height: 30px;
}

.footer-nav ul li {
  display: inline;
}

.footer-nav ul li a {
  padding: 0 30px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
}

.footer-social a i {
  color: #fff;
  font-size: 16px;
  border: 1px solid #fff;
  height: 45px;
  width: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  margin: 0 7px;
}

.fa-facebook-f:before,
.fa-twitter:before,
.fa-instagram:before,
.fa-facebook:before {
  font-size: 24px;
}

.footer-social a {
  text-decoration: none;
}

.footr-bottom-row {
  display: flex;
  padding-top: 45px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-nav {
  padding-right: 60px;
}

.footer-social a i:hover {
  color: #d2bb7f;
  border: 1px solid #d2bb7f;
}

.footer-nav ul li a:hover {
  color: #d2bb7f;
}

.col-flex {
  display: flex;
  align-items: center;
}

footer.footer .row.fotr_top-txt {
  justify-content: center;
}

.footer-social {
  margin-top: 36px !important;
}

/*----------------Footer_end---------------*/
@media only screen and (max-width:1480x) {

  /* products */
  .newest-text-area p {
    font-size: 17px;
    width: 80%;
    margin-top: 21px;
    font-weight: 500;
    padding: 0px 20px;
  }

  .popular-text-last p {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .arival-text-section h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .Seller-heading h1 {
    margin-top: 19px;
    font-weight: 700;
    font-size: 30px;
  }

  .Seller-heading p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    width: 55%;
    padding: 0px 20px;
    margin-bottom: 26px;
  }

  .newest-heading h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 26px;
  }

  .img-tex-arrival {
    margin-bottom: 23px;
    padding: 18px;
  }

  .newest-heading p {
    font-size: 15px;
    font-weight: 500;
    width: 40%;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .main-arrival-area {
    margin-top: 9px !important;
  }

  br {
    display: none;
  }
}

@media only screen and (max-width:1800px) {
  .main-banner-image img {
    width: 100%;
    object-fit: cover;
  }
  .banner-text {
    left: -10px !important;
}
  .banner-text h1 {
    color: #fff;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 16px;
    overflow: inherit !important;
    text-transform: uppercase;
  }

  .banner-text p {
    font-size: 15px;
    width: 50%;
    padding: 0px 22px;
  }

  .footer {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 1300px) {
  .last-footer-line span {
    text-decoration: none;
    font-size: 16px;
    color: #0f254e;
    line-height: 30px;
    font-weight: 700;
  }

  .text-area-pra {
    margin-top: 0px !important;
  }

  .privacy {
    display: flex;
    width: 380px;
    padding-bottom: 14px;
    justify-content: inherit;
  }

  .privacy p {
    text-decoration: none;
    font-size: 15px;
    color: #0f254e;
    line-height: 30px;
    font-weight: 700;
  }

  ul {
    padding: 0;
  }

  .text-area-pra p {
    color: #0f254e !important;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
  }

  br {
    display: none;
  }

  .Seller-heading h1 {
    color: #0f254e;
    text-align: center;
    margin-top: 73px;
    font-weight: 700;
    font-size: 34px;
    width: 100%;
    overflow: inherit !important;
  }

  .newest-heading {
    padding-top: 30px;
  }
}

@media only screen and (max-width: 1150px) {
  .main-banner-image img {
    width: 100%;
    object-fit: cover;
    height: 440px;
  }

  .banner-text {
    position: absolute;
    top: 0px;
    text-align: center;
    transform: translate(-3px, 12pc);
  }

  .banner-text h1 {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 16px;
  }

  .banner-text p {
    font-size: 15px;
    width: 60%;
    padding: 0px 22px;
  }

  .footer-email a {
    font-size: 20px;

  }

  .footer-phn::after {
    right: -16px;
  }

  .footer-social a i {
    height: 35px;
    width: 35px;
  }

  .fa-facebook-f:before,
  .fa-twitter:before,
  .fa-instagram:before,
  .fa-facebook:before {
    font-size: 17px;
  }
}

@media only screen and (max-width: 991px) {

  /* products */
  .newest-text-area p {
    font-size: 16px;
    width: 100%;
    margin-top: 21px;
    font-weight: 500;
    padding: 0px 20px;
  }

  .popular-text-last p {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .arival-text-section h4 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
  }

  .Seller-heading h1 {
    margin-top: 19px;
    font-weight: 700;
    font-size: 30px;
  }

  .Seller-heading p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    width: 75%;
    padding: 0px 20px;
    margin-bottom: 26px;
  }

  .newest-heading h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 26px;
  }

  .img-tex-arrival {
    margin-bottom: 23px;
    padding: 18px;
  }

  .newest-heading p {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .main-arrival-area {
    margin-top: 9px !important;
  }

  br {
    display: none;
  }

  /* banner css start */
  .main-banner-image img {
    width: 100%;
    object-fit: cover;
    height: 440px;
  }

  .banner-text {
    position: absolute;
    top: 0px;
    text-align: center;
    transform: translate(-3px, 12pc);
  }

  .banner-text h1 {
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 16px;
  }

  .banner-text p {
    font-size: 15px;
    width: 60%;
    padding: 0px 22px;
  }

  /* banner css close */


  .mid_menu_header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social a i {
    height: 35px;
    width: 35px;
  }

  .fa-facebook-f:before,
  .fa-twitter:before,
  .fa-instagram:before,
  .fa-facebook:before {
    font-size: 17px;
  }

  ul.menu_navigation li {
    margin: 0;
  }

  .header_logo img {
    width: 222px;
    height: auto;
  }

  .call-text-cls h4 a {
    font-size: 20px;
    line-height: 0px;
  }

  .dropdown-content {
    background-color: #998547;

  }

  li.dropdown {
    width: 100%;
    /* display: block; */
  }

  .sidenavs .closebtn {
    display: block;
    line-height: 25px;
    right: 7px;
    margin: 0;
  }

  ul.menu_navigation {
    display: inline-block;
    width: 100%;
  }

  ul.menu_navigation li,
  ul.top-menu li {
    padding: 0 10px;
    border-bottom: 1px solid #ddddddc7;
  }

  .sidenavs a {
    margin: 0;
  }

  ul.menu-btns li {
    padding: 10px 8px;
    width: 100%;
  }

  li.become-member .btn {
    margin-right: 0;
  }

  span.toggle_menu {
    display: inline-block;
    color: #fff;
    font-size: 30px;
    position: relative;
    right: 0;
    top: 0px;
    float: left;
    margin-left: 15px;
  }

  .sidenavs {
    width: 0;
    position: fixed;
    /* background: #333059; */
    top: 0;
    left: 0;
    display: inline-block;
    overflow-x: hidden;
    background: #000000bf;
  }

  ul.menu_navigation {
    padding-top: 50px;
    margin: 0;
  }

  .sidenavs a,
  ul.top-menu a {
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    color: #fff;
  }

  .sidenavs .menu-btns a {
    display: block;
    text-align: center;
  }

  .top-brs.for-mob,
  .menu-btns {
    display: block;
  }

  .top-brs.for-desk {
    display: none;
  }

  .top-brs .top-menu {
    display: block;
    border-bottom: 0;
    padding: 40px 0 0;
  }

  li.lst-btn {
    padding: 10px !important;
    text-align: center;
  }

  li.lst-btn a {
    text-align: center;
    justify-content: center;
  }

  /* --------------footer */
  .footer-logo img {
    max-width: 150px;
  }

  .footer-location a {
    font-size: 14px;
    line-height: 25px;
  }

  .footer-email a {
    line-height: 25px;
    font-size: 18px;
  }

  footer.footer .col-md-3 {
    width: 100%;
    max-width: 50%;
  }

  .footer-max-wdth,
  .footer-email {
    width: 100%;
    max-width: 73%;
    margin-right: 0;
    margin-left: auto;
  }

  .footer-phn::after {
    content: unset;
  }

  .footer {
    margin-top: 20px;
    padding: 20px 0 20px 0;
  }

  .footer-nav ul li a {
    padding: 0 12px;
  }

  .footer-nav {
    padding-right: 45px;
  }

}

@media only screen and (max-width:992px) {
  .pro_inner_img img {
    height: auto;
  }

  .text-area-pra {
    margin-top: 0px !important;
  }

  .main-conatct-text-form {
    margin-top: 80px !important;
    padding: 0px 15px;
  }

  .col-md-6.main-form-class {
    background: #0f254e;
    padding: 20px;
    border-radius: 10px;
  }

  .text-area p {
    color: #0f254e !important;
    font-size: 17px;
    font-weight: 600;
    text-align: left;
  }

  ul.form-list li {
    padding-bottom: 17px;
    color: #0f254e !important;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
  }

  ul {
    padding: 0;
  }

  .text-area-pra p {
    color: #0f254e !important;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
  }

  .gallery-section .bg-heading {
    font-size: 150px;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .space {
    padding-top: 30px !important;
  }

  .product_flex_wrap {
    flex-wrap: wrap;
    margin-top: 30px !important;
  }

  .pro_flex_inner {
    order: 1;
    width: 50% !important;
  }

  .pro_inner_img img {
    width: 122px !important;
    height: 81px !important;
    object-fit: contain !important  ;
  }

  .pro_flex_txt_inner {
    order: 3;
    text-align: center;
    width: 100% !important;
    margin-bottom: 20px;
  }

  .pro_inner_txt h4 {
    font-size: 26px;
    margin-top: 10px;
  }

  .pro_flex_btn_inner {
    width: 50% !important;
    order: 2;
  }

  .pro_inner_btn a {
    font-size: 16px !important;
    padding: 10px 15px !important;
  }

  .text-area-pra {
    margin-top: 0px !important;
  }

  .main-conatct-text-form {
    margin-top: 15px !important;
  }

  .submit-btn {
    width: 126px;
    height: 41px;
    font-size: 16px;
  }

  .col-md-6.main-form-class {
    padding: 15px;
    border-radius: 10px;
  }

  ul.form-list li {
    font-size: 16px;
    text-align: left;
  }

  .text-area p {
    font-size: 15px;
    text-align: justify;
  }

  .text-area-pra p {
    color: #0f254e !important;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }

  ul {
    padding: 0;
  }

  .text-area-pra p {
    color: #0f254e !important;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
  }

  .main-banner-image img {
    width: 100%;
    object-fit: cover;
    height: 440px;
  }

  .banner-text {
    position: absolute;
    top: 0px;
    text-align: center;
    transform: translate(-3px, 12pc);
  }

  .banner-text h1 {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
  }

  .banner-text p {
    font-size: 14px;
    width: 80%;
    padding: 0px 22px;
  }

  .footer-max-wdth,
  .footer-email {
    max-width: 100%;
  }

  .footer-nav {
    padding-right: 15px;
  }

  .footer-nav ul li a {
    padding: 0 7px;
  }

  .call_txt_today p {
    color: #fff;
    font-size: 26px;
  }
}

@media only screen and (max-width: 575px) {
  .last-footer-line {
    display: block;
    align-items: center;
    justify-content: space-between;
  }

  .privacy {
    display: flex;
    width: 100%;
    padding-bottom: 14px;
    justify-content: inherit;
  }

  .privacy {
    display: block;
    width: 100%;
    padding-bottom: 3px;
    justify-content: left;
    text-align: left;
  }

  .privacy p {
    text-decoration: none;
    font-size: 15px;
    color: #0f254e;
    line-height: 20px;
    font-weight: 700;
    text-align: left;
  }

  .last-footer-line span {
    text-decoration: none;
    font-size: 16px;
    color: #0f254e;
    line-height: 30px;
    font-weight: 700;
  }

  .text-area-pra {
    margin-top: 0px !important;
  }

  .main-conatct-text-form {
    margin-top: 15px !important;
  }

  .submit-btn {
    width: 126px;
    height: 41px;
    font-size: 16px;
  }

  .col-md-6.main-form-class {
    padding: 15px;
    border-radius: 10px;
  }

  ul.form-list li {
    font-size: 16px;
    text-align: left;
  }

  .text-area p {
    font-size: 15px;
    text-align: justify;
  }

  .text-area-pra p {
    color: #0f254e !important;
    font-size: 15px;
    font-weight: 600;
    margin-top: 30px;
  }

  /* products */
  .newest-text-area p {
    text-align: justify;
    font-size: 16px;
    width: 100%;
    margin-top: 21px;
    font-weight: 500;
    padding: 0px 20px;
  }

  .popular-text-last p {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0px;
  }

  .arival-text-section h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }

  .Seller-heading h1 {
    margin-top: 19px;
    font-weight: 700;
    font-size: 30px;
  }

  .Seller-heading p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 26px;
  }

  .newest-heading h1 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 26px;
  }

  .img-tex-arrival {
    margin-bottom: 23px;
  }

  .newest-heading p {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .main-arrival-area {
    margin-top: 9px !important;
  }

  br {
    display: none;
  }

  /* banner css */
  .main-banner-image img {
    width: 100%;
    object-fit: cover;
    height: 440px;
  }

  .banner-text {
    position: absolute;
    top: 0px;
    text-align: center;
    transform: translate(-3px, 12pc);
  }

  .banner-text h1 {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
  }

  .banner-text p {
    font-size: 13px;
    width: 100%;
    padding: 0px 22px;
  }

  /* banner css end */
  .mid_menu_header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-social {
    margin-top: 4px !important;
  }

  .footer-social a i {
    height: 35px;
    width: 35px;
  }

  .fa-facebook-f:before,
  .fa-twitter:before,
  .fa-instagram:before,
  .fa-facebook:before {
    font-size: 17px;
  }

  .row.call-text-flex {
    display: none;
  }

  .header_logo img {
    width: 159px;
  }

  span.toggle_menu {
    top: 6px;
  }

  footer.footer .col-md-3 {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .footer-location {
    padding-top: 38px;
    text-align: left;
  }

  .footer-location h4 {
    line-height: 18px;
  }

  .footer-nav {
    padding-right: 0;
  }

  .col-flex {
    width: 100%;
    display: block;
    text-align: center;
  }

  .footr-bottom-row {
    justify-content: center;
  }

  .call_txt_today p {
    font-size: 26px;
    text-align: center;
  }

  .footer-social {
    padding-top: 15px;
  }

  .footr-bottom-row {
    padding-top: 25px;
  }
}



section#neu_sports_kit_sec h1 {
  color: #0f254e;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  width: 100%;
  overflow: inherit !important;
}

.space {
  padding-top: 80px;
}

.product_flex_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f254e;
  transition: all 500ms ease 0s;
  margin-top: 50px;
  border-radius: 10px;
}

.pro_flex_inner {
  padding: 15px 15px;
  width: 30%;
}

.pro_inner_img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  background: #fff;
}

.pro_inner_img img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 100%;
  height: 231px;
  object-fit: cover;
}

.pro_flex_txt_inner {
  padding: 0 15px;
  width: 50%;
}

.pro_flex_btn_inner {
  width: 20%;
  padding: 0 15px;
}

.pro_inner_btn a {
  font-size: 20px;
  padding: 14px 15px;
  color: #0f254e;
  font-weight: 400;
  text-transform: capitalize;
  background: #fff;
  display: block;
  text-align: center;
  width: 100%;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  font-weight: bolder;
}